@import (reference) "../../../common/references.less";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: App;

// ----------------------------------------------------------------------------- BLOCK

.App {

// ----------------------------------------------------------------------------- ELEMENTS

// ----------------------------------------------------------------------------- MODIFIERS

// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

}
